html, body {
  background-color:black;
  box-sizing:border-box;
}

header {
  grid-area: h;
  text-align: center;
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
}

nav {
  grid-area: n;
  background-color: #8040bf;
  color: white;
  text-align: center;
}

main {
  grid-area: m;
  background-color: #e60039;
  padding: 5%;
  font-family: Arial, Helvetica, sans-serif;
}

aside {
  grid-area: a;
  background-color: white;
  padding: 5%;
  font-family: Arial, Helvetica, sans-serif;
}

footer {
  grid-area: f;
  text-align: center;
  background-color: #8040bf;
  color: white;
  font-size: 75%;
  font-family: Arial, Helvetica, sans-serif;
}

/*nav button fuctions*/
.n {
  background-color: #8040bf;
  position: relative;
  overflow: hidden;
}

.n a {
  float: left;
  display: block;
  color: white;
  text-shadow: 0 0 7px #000000, 0 0 5px #000000 ;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

.n a:hover {
  background-color: #e3ddfd;
  text-shadow: none ;
  color: black;
}

ul.z {
  list-style-type: none;
}

ul.z li {
  display: inline;
}

.horoscopeHeader {
  color: #ffffff;
  text-shadow: 0 0 7px #000000, 0 0 5px #8040bf;
  text-align: center;
}

.horoscopeTable {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px;
}

.hRows {
  text-align: center;
  padding: 30px;
  background-color: white;
}

.horoscopeButton {
  background-color: black;
  border: 2px solid white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 30px;
  margin: relative;
  color: white;
  cursor: pointer;
}

.horoscopeButton:hover {
  background-color: #e3ddfd;
  text-shadow: none ;
  color: black;
}

#horoscope {
  font-size: 20px;
  font-weight: bold;
}

.grid-container {
  display: grid;
  grid-template-areas:
    'h h h h'
    'n n n n'
    'm m a a'
    'f f f f';
  grid-gap: 10px;
}

@media screen and (max-width: 600px){
  body {
    background-color: black;
  }
.grid-container {
  display: grid;
  grid-template-areas:
    'h'
    'n'
    'm'
    'a'
    'f';
  grid-gap: 10px;
}
}
