html, body {
  background-color:black;
  box-sizing:border-box;
}

header {
  grid-area: h;
  text-align: center;
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
}

nav {
  grid-area: n;
  background-color: #8040bf;
  color: white;
  text-align: center;
}

main {
  grid-area: m;
  background-color: #e60039;
  padding: 5%;
  font-family: Arial, Helvetica, sans-serif;
}

aside {
  grid-area: a;
  background-color: white;
  padding: 5%;
  font-family: Arial, Helvetica, sans-serif;
}

footer {
  grid-area: f;
  text-align: center;
  background-color: #8040bf;
  color: white;
  font-size: 75%;
  font-family: Arial, Helvetica, sans-serif;
}

/*nav button fuctions*/
.n {
  background-color: #8040bf;
  position: relative;
  overflow: hidden;
}

.n a {
  float: left;
  display: block;
  color: white;
  text-shadow: 0 0 7px #000000, 0 0 5px #000000 ;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

.n a:hover {
  background-color: #e3ddfd;
  text-shadow: none ;
  color: black;
}

ul.z {
  list-style-type: none;
}

ul.z li {
  display: inline;
}

/* movie picker page */
.movieformheader {
  color: #ffffff;
  text-shadow: 0 0 7px #000000, 0 0 5px #8040bf ;
}

#mform {
font-size: 70%;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 2px;
  font-weight: bold;
}

.astroTable {
  border-color: black;
  width: 100%;
}

th {
  text-align: center;
  padding: 8px;
  text-decoration: underline;
}

td {
  text-align: center;
  padding: 15px;
}

tr {
  background-color: white;
}

.astrosystems {
  font-size: 30px;
  letter-spacing: 4px;
  text-align: center;
  border: 2px solid #8040bf;
  border-radius: 5px;
}

.systems {
  font-style: italic;
  font-weight: bold;
}

ul.y {
  list-style-type: circle;
}

/* buttons for elements and modalities */
.button2 {
  background-color: darkorange;
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  font-size: 15px;
  margin: 4px 2px;
  display: inline;
  color: black;
  cursor: pointer;
}

.button2:hover {
  background-color: white;
  font-weight: bold;
}

.button3 {
  background-color: limegreen;
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  font-size: 15px;
  margin: 4px 2px;
  display: inline;
  color: black;
  cursor: pointer;
}

.button3:hover {
  background-color: white;
  font-weight: bold;
}

.button4 {
  background-color: orchid;
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  font-size: 15px;
  margin: 4px 2px;
  display: inline;
  color: black;
  cursor: pointer;
}

.button4:hover {
  background-color: white;
  font-weight: bold;
}

.button5 {
  background-color: dodgerblue;
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  font-size: 15px;
  margin: 4px 2px;
  display: inline;
  color: black;
  cursor: pointer;
}

.button5:hover {
  background-color: white;
  font-weight: bold;
}

.button6 {
  background-color: salmon;
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  font-size: 15px;
  margin: 4px 2px;
  display: inline;
  color: black;
  cursor: pointer;
}

.button6:hover {
  background-color: black;
  color: white;
}

.button7 {
  background-color: peachpuff;
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  font-size: 15px;
  margin: 4px 2px;
  display: inline;
  color: black;
  cursor: pointer;
}

.button7:hover {
  background-color: black;
  color: white;
}

.button8 {
  background-color: lightsalmon;
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  font-size: 15px;
  margin: 4px 2px;
  display: inline;
  color: black;
  cursor: pointer;
}

.button8:hover {
  background-color: black;
  color: white;
}

/* movie catalog page */
.catalogHeaders {
  color: #ffffff;
  text-shadow: 0 0 7px #000000, 0 0 5px #8040bf;
  text-align: center;
}

.slideshow-container {
  max-width: 200px;
  position: relative;
  margin: auto;
}

.mySlides {
  display: none;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: #8040bf;
}

.numbertext {
  color: black;
  background-color: white;
  font-size: 15px;
  font-weight: bold;
  padding: 5px 3px;
  position: absolute;
  top: 0;
}

.text {
  color: black;
  background-color: white;
  font-size: 15px;
  padding: 1px 1px;
  position: absolute;
  bottom: 5px;
  width: 100%;
  text-align: center;
}

.dot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 0 2px;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.2s ease;
}

.active, .dot:hover {
  background-color: #8040bf;
}

.fade {
  animation-name: fade;
  animation-duration: 1.2s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/*
.movieButton {
  background-color: black;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}*/
.buttonContainer {
  height: 100px;
  position: relative;
}

.movieContainer {
  height: 300px;
  position: relative;
}

.centerMovie {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.centerButton {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.movieButton {
  display: inline-block;
  padding: 13px 23px;
  font-size: 22px;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #8040bf;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px darkgray;
  cursor: pointer;
}

.movieButton:hover {
  background-color: #e3ddfd;
  color: black;
}

.movieButton:active {
  background-color: #e60039;
  box-shadow: 0 5px darkgray;
  transform: translateY(4px);
}

/*
#randomMovie {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}*/

.grid-container {
  display: grid;
  grid-template-areas:
    'h h h h'
    'n n n n'
    'm m a a'
    'f f f f';
  grid-gap: 10px;
}

@media screen and (max-width: 600px){
  body {
    background-color: black;
  }
.grid-container {
  display: grid;
  grid-template-areas:
    'h'
    'n'
    'm'
    'a'
    'f';
  grid-gap: 10px;
}
}
